body {
  background: url('images/backgroundimage.png') no-repeat center center fixed;
  background-size: cover;
}

label, input, select {
  display: block;
  float: left;
}

label {
  text-align: right;
  width: 250px;
  padding-right: 5px;
  clear: left;
  margin-bottom: 10px;
}

input, select {
  margin-left: 15px;
  background-color: #ccc;
  margin-bottom: 12px;
  clear: right;
}

#back a {
  color: white;
  background-color: rgba(90,90,90,0.6);
  text-decoration: none;
  position: fixed;
  padding: 0 20px;
  top: 40px;
  left: 40px;
}

#back a:hover {
  background-color: rgba(90,90,90,0.8);
}

#container {
  width: 520px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(90,90,90,0.6);
  color: white;
  text-align: center;
}

h1,h2 {
  font-family: "trajan-pro-3", sans-serif;
  font-weight: 400;
}

p, label {
  font-family: "trajan-sans-pro", sans-serif;
}

#relative {
  position: relative;
  top: -15px;
}

strong {
  font-weight: bold;
  font-size: 1.5em;
  position: relative;
  top: 2px;
}

img {
  width: 480px;
}

blockquote {
  font-size: 8em;
  font-family: "voluta-script-pro";
  line-height: 80%;
  padding: 0px;
  padding-bottom: 5px;
  margin: 0px;
}

#hidden {
  display: none;
}

#yourhouse {
  width: 15px;
}

.button {
  background-color: #999;
  color: white;
  float: none;
  display: inline-block;
  clear: both;
  border-radius: 8px;
  margin: 15px 100px 0 100px;
}

.hidden {
  display: none;
}
